@charset "utf-8";
/* CSS Document */

/*公用*/
.comWidth
{
	margin:0 auto;
	width:1000px;
}

.leftArea 
{
	float:left;
}
.rightArea
{
	float:right;
}
.hide
{
	display: none;
}
.show
{
	display: block;
}

/*topBar*/
.topBar
{
	height:31px;
	background-color:#F7F7F7;
	line-height:31px;
}
.collection
{
	background:url(../images/icon/collection.jpg) left center no-repeat;
	padding-left:19px;
	font-weight:bold;
}
.topBar a:hover
{
	color:red;
}

/*logo*/
.logoBar
{
	height:85px;
	background-color:#1D7ad9;
}
.logo
{
	padding-left:41px;
	padding-top:13px;
}
.search_box
{
	width:430px;
	padding-top:23px; 
	padding-left:185px;
	}
.search_text
{
	width:360px;
	height:35px;
	text-indent:0.8em;
	line-height:35px\9;

}
.search_btn
{
	width:70px;
	height:35px;
	font-size:14px;
	font-family:"Microsoft YaHei","微软雅黑";
	background-color:#FF8C00;
	color:#FFF;
}
.shopCar
{
	width:145px;
	height:35px;
	background-color:#FF8C00;
	margin-top:23px;
	margin-right:59px;
	font:14px/35px "Microsoft YaHei","微软雅黑";
	color:#FFF;
}
.shopText
{
	height:100%;
	width:87px;
	border-right:1px solid #E27A00;
	background:url(../images/icon/shaoIcon.jpg) 10px center no-repeat;
	text-indent:40px;
}
.shopNum
{
	width:27px;
	height:35px;
	border-left:1px solid #FF9C01;
	background:url(../images/icon/sj.jpg) 33px center no-repeat;
	text-align:right;
	padding-right:29px;
}
/*navBar导航*/
.navBar
{
	height: 35px;
	background-color: #1369c0;
	color: #fff;
}
.shopClass
{
	width: 180px;
	position: relative;
}
.shopClass h3
{
	line-height: 35px;
	text-align: center;

}
.shopClass i
{
	width: 11px;
	height: 7px;
	overflow: hidden;
	background: url(../images/icon/down.jpg) left center no-repeat;
	display: inline-block;
    margin-left: 11px;
}
.nav,.shopClass h3
{
	font-family:"Microsoft YaHei", "微软雅黑";
}
.nav
{
	line-height: 35px;
}
.nav li
{
	float: left;
}
.nav a
{
	height: 35px;
	display: block;
	padding: 0 35px;
	color: #FFF;
}
.nav .active
{
	background-color: #4593fd;
}
.nav a:hover
{
	background-color: #4593fd;
	border-radius: 10px 10px 0 0;

}
.shopClass_show
{
	width: 180;
	display: block;
	background-color: #4593fd;
	border-bottom: 3px solid #3487f2;
	border-top: 4px solid #5aa1fe;
	
}
.shopClass_show li
{
    height: 32px;
    line-height: 32px;
    font-size: 14px;
    font-family: "Microsoft YaHei","微软雅黑";
    z-index: 3;
    padding-left:10px;
    background: url(../images/icon/shop_sj123_03.jpg) right center no-repeat;
    border-bottom: 1px solid #3487f2;
    border-top: 1px solid #5aa1fe;
    border-right: 1px solid #3487f2;
	border-left: 1px solid #3487f2;


}
.shopClass_show li a
{
	color: #fff;
	display: inline-block;
	
}
.shopClass_show li b
{
	display: none;
}
.shopClass_show .lihover b
{
	display:block;
	height:30px;
	line-height:30px;
	font-weight:normal;
	font-size:12px;
}
.shopClass_show li a:hover
{
    color: #5c5c5c;
    font-weight: bold;
    text-decoration: underline;
}
.shopClass_show .lihover
{
	background-image: none;
	box-shadow: 0 0 8px #DDD;
	-moz-box-shadow:0 0 8px #DDD;
	-webkit-box-shadow:0 0 8px #DDD;
	border-right: 0;
	color: #000;
	background-color: #fff;
	height: 62px;
	border-left: 4px solid #3487f2;
}
.shopClass_show .lihover a
{
	color: #5c5c5c;
}
.submenu
{
	display: none;
	width: 715px;
	position: absolute;
	left: 170px;
	top: 40px;
	border:1px solid #DDD;
	z-index: 998;
	background-color: #fff;
	box-shadow: 0 0 8px #DDD;
	-moz-box-shadow:0 0 8px #DDD;
	-webkit-box-shadow:0 0 8px #DDD;
}
.shopClass_show .lihover .submenu
{
    display: block;
}
.shopClass_show .lihover span
{
    background-color: #fff;
    display: inline-block;
    z-index: 999;
    width: 15px;
    height: 62px;
    float: right;
    position: relative;
}
.leftdiv
{
    float: left;
    width: 490px;
    margin: 5px 5px 20px 10px;
}
.leftdiv dl
{
	display: block;
	border-bottom: 1px solid #EEE;
	padding: 6px 0;
	overflow: hidden;
}
.leftdiv dl dt
{
	display: block;
	float: left;
	width: 60px;
	height: 22px;
	line-height: 22px;
	padding-right: 6px;
	text-align: right;
}
.leftdiv dl dt a
{
    color: #e4393c;
    font-weight: bold;
}
.leftdiv dl dd
{
	display: block;
	overflow: hidden;
}
.leftdiv dl dd a
{
    display: block;
    float: left;
    border-left: 1px solid #CCC;
    color: #737373;
    font-size: 14px;
    padding: 0 8px;
    height: 14px;
    line-height: 14px;
    margin: 4px 0;
}
.rightdiv
{
    float: left;
    width: 200px;
    margin: 5px;
}
.rightdiv dl dd
{
    margin: 3px 0;
}
.rightdiv dl dt
{
    color: #e4393c;
    font-weight: bold;
    font-size: 14px;
}
.rightdiv dl dd a
{
    font-size: 12px;
    color: #737373;
    line-height: 22px;
}
.rightPic
{
    position:relative;
    right:-28px;
    bottom:-20px;
}   
/*下拉菜单*/

/* .shopClass_show
{
	background-color: #4593FD;
	position: absolute;
	left: 0px;
	top: 35px;
	width: 100%;
}
.shopClass_item
{
	padding: 14px 10px;
	border-bottom: #3487f2 solid 1px;
	border-top: #5aa1fe solid 1px;
	line-height: 16px;
}
.shopClass_item dt
{
    height: 21.5px;
    line-height: 1;
    overflow: hidden;
    background: url(../images/icon/shop_sj.jpg) right center no-repeat;
}
.shopClass_item .b
{
	font: 14px/1 "Microsoft YaHei","微软雅黑"；
}
.shopClass_item a
{
	color: #FFF;
}
.shopClass_item a:hover
{
    text-decoration: underline;
}
.shopClass_item .aLink
{
	width: 48px;
	height: 20px;
	background: url(../images/icon/aLink_bg.png) left center no-repeat;
	display: inline-block;
	text-align: center;
	line-height: 20px;
	text-decoration: underline;
} */
/*shopClass_item active 状态*/

/* .shopClass_active
{
	background-color: #fff;
	border-left: 1px solid #4593fd;
	box-shadow: 0 0 8px #DDD;
	-moz-box-shadow:0 0 8px #DDD;
	-webkit-box-shadow:0 0 8px #DDD;
}
.shopClass_active dt
{
	background:none;
}
.shopClass_active a
{
	color: #000;
}
.shopClass_active .aLink
{
	color: #000;
	text-decoration: none;
} */

/*弹出菜单*/

/* .shopClass_list
{
	width: 568px;
	border: 1px solid #ccc;
	position: absolute;
	left: 170px;
	top: 0;
	background-color: #fff;
	z-index:6;
	box-shadow: 0 0 8px #DDD;
	-moz-box-shadow:0 0 8px #DDD;
	-webkit-box-shadow:0 0 8px #DDD;
	display: none;

	
	
}
.shopClass_cont
{
	padding: 0 20px;
}
.shopList_item
{
	padding: 10px 0;
	border-bottom: 1px solid #ccc;
}
.shopList_item dt
{
	color: #4b87d9;
	line-height: 24px;
	font-weight: bold;
	height: 24px;
}
.shopList_item dd
{
	padding-left: 68px;
	line-height: 24px;
	margin-top: -24px;
}
.shopList_item dd a
{
	margin-right: 12px;
}
.shopList_item a:hover
{
	color: #ff7300;
}
.shopList_links
{
	padding: 15px 0;
}
.shopList_links a
{
	color: #fff;
	background-color: #2785e6;
	height: 26px;
	line-height: 26px;
	font-size: 12px;
	display: inline-block;
	padding: 0 14px 0 8px;
	margin-right: 10px;
}
.shopList_links span
{
	width: 11px;
	height: 7px;
	background: url(../images/icon/shop_sj.jpg) left center no-repeat;
	display: inline-block;
	margin-left:7px;
} */
/*banner焦点图*/
.banner
{
	height: 326px;
	overflow: hidden;
	margin-left: 190px;
	margin-top: 10px;
	margin-bottom:25px; 
}
/*商品标题*/
.shopTit
{
	height: 44px;
	font-family: "Microsoft YaHei","微软雅黑";
	line-height: 44px;
	margin-bottom: 15px;
}
.shopTit h3
{
	font-size: 24px;
	float: left;
	padding-left: 15px;
	font-weight: normal;
}
.icon
{
	width: 44px;
	height: 44px;
	float: left;
	background: url(../images/icon/shopIcon.jpg) left top no-repeat;
}
.more
{
	float: right;
	font-family: "宋体";
}
.more:hover
{
	text-decoration: underline;
}
/*商品列表*/
.shopList .leftArea{width:190px;}
.shopList .rightArea{width:808px; border:#999 solid 1px; border-bottom:#FF7201 solid 3px; height:396px; overflow:hidden;}
.banner_bar{width:190px; height:400px;float:right; position:relative; overflow:hidden;}
.imgBox{width: 1000px;position:absolute; left:0; top:0;}
.imgBox li{/*position:absolute; left:0; top:0;*/ float: left;}
.banner_bar .cbtn{position:absolute;top: 50%; width: 30px; height: 60px; background:rgba(0,0,0,0.4);color: #fff;font-size: 40px; line-height: 60px;
margin-top: -30px; text-align: center; display: none; cursor: pointer;}
.banner_bar .lbtn{left: 0;}
.banner_bar .rbtn{right: 0;}
.banner_bar:hover .cbtn{display: block;}
.imgNum{position:absolute; left:0; bottom:15px; width:100%; text-align:center;}
.imgNum a{width:20px; height:5px;  background-color:#FFF; display:inline-block; margin:0 3px;}
.imgNum .active{background-color:#FF7700;cursor: pointer;}
/*商品列表-右侧*/
.shopList{margin-bottom:15px;}
.shopList_top,.shopList_sm
{
	margin-right: -4px;
}
.shop_item
{
	width: 202px;
	border-right: #999 solid 1px;
	border-bottom: #999 solid 1px;
	height: 279px;
	text-align: center;
	font-family: "Microsoft YaHei","微软雅黑";
	float:left;
}
.shop_img
{
	height: 218px;
}
.shop_img img
{
	width: 100%;
	height: 218;
	display: block;
}
.shop_item h3
{
	font-size: 16px;
}
.shop_item p
{
	font-size: 14px;
	color: #FF7300;
	line-height: 21px;
}
/*商品列表-小*/
.shopItem_sm{width:202px; border-right:#999 solid 1px; height:110px; padding-top:6px; float:left;}
.shopItem_smImg{width:95px; height:95px; text-align:center; float:left;}
.shopItem_smImg img{width:95px; height:95px;}
.shopItem_text{padding-top:28px; width:100px; float:left;}
.shopItem_text p{color:#FF7300;}
.shopItem_text h3{font-family:"Microsoft YaHei", "微软雅黑"; font-size:16px; font-weight:normal; color:#181818; line-height:30px;}
/*底部*/
.footer
{
	text-align: center;
	background-color:#D4D4D4; 
	line-height:24px; 
	padding:50px 0;
	margin-bottom: 10px;
}
.footer i
{
	font-style:normal; 
	margin:0 5px; 
}
.footer a
{
	color:#000;
}
.footer a:hover
{
	color:#F60;
}
.web
{
	padding-top:30px;
}
.web img
{
	margin:0 12px;
}
.hr_25
{
	height:25px;
}